packages:
  yum:
    python3-pip: []

container_commands:
  01_pip_install:
    command: "pip install -r requirements.txt"
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true